<configuration>
    <property resource="application.properties" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] %d{HH:mm:ss.SSS} %logger %msg%n</pattern>
        </encoder>
    </appender>

    <if condition='property("include.file.appender").equals("true")'>
        <then>
            <appender name="FILE_ROOT"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${log.file.path}/gundam-auth/gundam-auth.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- daily rollover -->
                    <fileNamePattern>${log.file.path}/gundam-auth/gundam-auth.%d{yyyy-MM-dd}.log</fileNamePattern>
                    <!-- keep 7 days' worth of history -->
                    <maxHistory>7</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>[%level] %d{HH:mm:ss.SSS} %logger %msg%n</pattern>
                </encoder>
            </appender>
        </then>
    </if>

    <root level="DEBUG">
        <if condition='property("include.stdout.appender").equals("true")'>
            <then>
                <appender-ref ref="STDOUT" />
            </then>
        </if>
        <if condition='property("include.file.appender").equals("true")'>
            <then>
                <appender-ref ref="FILE_ROOT" />
            </then>
        </if>
    </root>
</configuration>